.bx--data-table-header {
    position: fixed;
    width: 100%;
}

.bx--table-toolbar {
    position: fixed;
    margin-top: 66px;
}

.table-row {
    display: none !important;
}

.bx--data-table th {
    min-width: 325px;
}

.table {
    width: 100%;
    margin-top: 30px;
    &__container {
        max-height: 600px;
    }
}