.forms {
  &__header {
    margin: 60px 200px 50px 200px;
    color: #707070;
  }
}

.accountInformation {
  margin: 60px 200px 20px 200px;

  &__header {
    margin-bottom: 30px;
    color: #707070;
  }

  &__inputField {
    display: inline-block;
    width: 270px;
    margin: 0 30px 35px 0;
  }

  &__inputField .bx--label {
    color: #525252;
  }
}

.addMVP {
  margin: 60px 200px 100px 200px;

  &__header {
    margin-bottom: 20px;
    color: #707070;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__table table {
    width: 50%;
    margin-bottom: 40px;
  }

  &__table th,
  &__table td {
    background-color: white !important;
  }
}

.addMVPModal {
  &__header {
    margin-bottom: 4rem;
  }

  &__progress-bar {
    margin-bottom: 15px;
    position: absolute;
    top: 3.5rem;
  }

  & li {
    min-width: 15rem;
    width: 8rem;

    p {
      max-width: 15rem;
    }

    span.bx--progress-line {
      width: 15rem;
    }
  }
}

.scenarioInformation {
  &__header {
    margin-bottom: 30px;
  }

  &__fieldRow {
    position: relative;
  }

  &__field {
    display: inline-block;
    width: 350px;
    margin-right: 1rem;
  }

  &__inputField {
    display: inline-block;
    width: 350px;
    margin: 0 20px 35px 0;

    div div {
      width: 270px;
    }

    input {
      width: 270px;
      background-color: #f4f4f4;
    }
  }

  &__inputField .bx--label {
    color: #525252;
  }

  &__radioField {
    display: inline-block;
    width: 350px;
    margin-right: 1rem;

    & input[type="text"] {
      width: 270px;
      background-color: #f4f4f4;
    }
  }

  &__radioField .bx--label {
    color: #525252;
  }

  &__selectField {
    position: absolute;
    display: inline-block;

    select {
      background-color: #f4f4f4 !important;
    }
  }

  &__selectField .bx--label {
    color: #525252;
  }

  &__radioTextField {
    margin-top: 20px;

    div div {
      width: 270px;
    }
  }
}

.teamStructure {
  &__fields {
    margin-top: 10px;
  }

  &__inputField {
    margin-bottom: 25px;
    width: 350px;
    display: inline-block;
  }

  &__inputField .bx--label {
    color: #525252;
  }

  &__inputField input[type="number"] {
    width: 270px;
    background-color: #f4f4f4 !important;
  }
}

.PeopleCultureOrg {
  &__header {
    margin-bottom: 30px;
  }

  &__checkbox {
    margin-bottom: 15px;
  }

  &__field {
    display: inline-block;
    width: 350px;
    margin-right: 1rem;
  }

  & input[type="text"] {
    width: 270px;
    background-color: #f4f4f4;
  }

  &__radioTextField {
    margin-top: 20px;
  }

  &__radioField .bx--label {
    color: #525252;
  }

  &__radioTextField div div {
    width: 270px;
  }
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &__header {
    padding-left: 2rem;
    margin-bottom: 4rem;
  }

  &__header h3 {
    color: #707070;
  }

  &__container {
    position: relative;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    background-color: #FFFFFF;
  }

  &__content {
    padding-left: 2rem;
    margin-bottom: 1rem;
    padding-right: 10% !important;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  & a {
    text-decoration: none;
  }

  &__secondary,
  &__primary {
    max-width: 100% !important;
    width: 50%;
    min-height: 4rem !important;
  }
}

.tableEditIcon svg,
.tableDeleteIcon svg {
  width: 16px;
}
