.home,
.uploadExcel {
  min-height: 720px;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: relative;

  &__sideNav {
    display: inline-block;
    position: absolute;
    background-color: #1161fb;
    max-width: 25rem !important;
    width: 25rem !important;
    padding-left: 50px;
    padding-top: 100px;
  }

  &__sideNav h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
  }

  &__sideNav h5 {
    color: white;
    font-weight: 900;
  }

  &__sideNav p {
    color: white;
    margin-bottom: 20px;
  }

  &__sideNav a {
    text-decoration: none;
    width: 205px;
  }

  &__sideNav a:hover,
  &__sideNav a:focus {
    text-decoration: underline;
  }

  &__button {
    background-color: white !important;
    color: #1161fb;
    width: 225px;
    height: 65px;
    text-decoration: none;

    &--download {
      margin-top: 2rem;
    }
  }

  &__button:hover,
  &__button:focus {
    color: #1161fb;
    font-weight: bold;
  }

  &__content {
    margin-left: 26rem;
    padding-top: 100px;
  }

  &__instructions {
    margin-left: 5%;
    width: 80%;
    margin-bottom: 36px;

    &--header {
      color: #1161fb;
      font-weight: 900;
      font-size: 20px;
    }

    &--para {
      font-weight: 400;
    }
  }

  &__scenario1 {
    margin-left: 5%;
    width: 80%;
    margin-bottom: 36px;

    &--header1 {
      color: #1161fb;
      font-weight: 900;
    }

    &--para {
      color: #1161fb;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &--header2 {
      font-size: 16px;
      font-weight: 900;
    }

    &--list-item {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__scenario2 {
    margin-left: 5%;
    width: 80%;
    margin-bottom: 36px;

    &--header1 {
      color: #1161fb;
      font-weight: 900;
    }

    &--para {
      color: #1161fb;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &--header2 {
      font-size: 16px;
      font-weight: 900;
    }

    &--list-item {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.uploadExcel {
  &__uploader {
    margin-left: 5%;
    margin-bottom: 36px;

    button {
      display: inline-block;
      margin-top: 15px;
    }
  }

  &__homePage {
    margin-right: 20px;
  }

  &__instructions {
    width: 90%;
  }
}
